*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Temp/Log files
*.log
errors.txt
recent_crash.txt
crash_fatal.txt
.vscode/
app/google-services.json.bak
