<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:name=".WaviApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_icon"
        android:label="WAVI"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WaviApp">
        <activity
            android:name=".activities.FlashcardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.FavoriteWordsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.VocabularyListActivity"
            android:exported="false" />
        <activity
            android:name=".activities.GrammarDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activities.TheoryActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.PremiumActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.HomeActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SettingsActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.UserInfoActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.ExamActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.TestListActivity"
            android:exported="false" />
        <activity
            android:name=".activities.TestDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SkillPracticeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activities.OnlineExamActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EventInfoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.QuizActivity"
            android:exported="false" />

        <receiver
            android:name=".utils.AlarmReceiver"
            android:exported="false" />
    </application>

</manifest>