<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".WaviApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_icon"
        android:label="WAVI"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WaviApp">
        <activity
            android:name=".TheoryActivity"
            android:launchMode="singleTask"
            android:exported="false" />
        <activity
            android:name=".PremiumActivity"
            android:launchMode="singleTask"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:launchMode="singleTask"
            android:exported="false" />
        <activity
            android:name=".SignupActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:launchMode="singleTask"
            android:exported="false" />
        <activity
            android:name=".UserInfoActivity"
            android:launchMode="singleTask"
            android:exported="false" />
        <activity
            android:name=".ExamActivity"
            android:launchMode="singleTask"
            android:exported="false" />
        <activity
            android:name=".TestListActivity"
            android:exported="false" />
        <activity
            android:name=".TestDetailActivity"
            android:exported="false" />
        <activity
            android:name=".SkillPracticeActivity"
            android:exported="false" />
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".OnlineExamActivity"
            android:exported="false" />
        <activity
            android:name=".EventInfoActivity"
            android:exported="false" />
    </application>

</manifest>