<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".WaviApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_icon"
        android:label="WAVI"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WaviApp">
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- TOEIC Listening Part 1 Activities -->
        <activity
            android:name=".activities.Part1Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Part1SetActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- TOEIC Listening Part 3 & 4 (Dùng chung) -->
        <activity
            android:name=".activities.Part3SetActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Part34Activity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- TOEIC Listening Part 3 (Old - keep for safety or remove if unused) -->
        <activity
            android:name=".activities.Part3Activity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- TOEIC Part 5 Activities -->
        <activity
            android:name=".activities.Part5SetActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Part5PracticeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Part5Activity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- TOEIC Part 6 Activities -->
        <activity
            android:name=".activities.Part6SetActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Part6PracticeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- TOEIC Part 7 Activities -->
        <activity
            android:name=".activities.Part7SetActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Part7PracticeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- TOEIC Listening Part 2 Activities -->
        <activity
            android:name=".activities.Part2SetActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Part2PracticeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.FlashcardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.FavoriteWordsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.VocabularyListActivity"
            android:exported="false" />
        <activity
            android:name=".activities.GrammarDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activities.TheoryActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.PremiumActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.HomeActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SettingsActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.UserInfoActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.ExamActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.TestListActivity"
            android:exported="false" />
        <activity
            android:name=".activities.TestDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SkillPracticeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activities.OnlineExamActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EventInfoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.QuizActivity"
            android:exported="false" />

        <!-- Speaking & Writing Skill Practice Activities -->
        <activity
            android:name=".activities.SpeakSetActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SpeakPracticeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.WriteSetActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.WritePracticeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".utils.AlarmReceiver"
            android:exported="false" />

        <!-- Wavi Vocabulary Widget -->
        <receiver
            android:name=".widgets.WordWidgetProvider"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.example.waviapp.ACTION_WIDGET_REFRESH" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

    </application>

</manifest>